
@media only screen and (max-width:600px){
  body{
    background-color: rgb(238, 241, 245);
  }
}


table ,td, th {
   
    border: 1px solid black;
    padding: 15px;
    border-collapse: collapse;

}

p  {
  font-size:12px;
    text-align: left;
    color: rgb(51, 25, 4);
  }

  #up{
    text-align: left;
    color: rgb(15, 5, 47);
  }
.block {
  background-color: rgb(76, 125, 165);
  font-size:11px;
    color :white;
  margin:20px;
  padding:20px;
}
 